*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #212121;
  color: #fff
}
li a{
    text-decoration: none;
    color: #212121;
    font-size: 20px;
}
nav ul{
    display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;

}
nav li  {
    
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }
  main{
    padding: 1rem
  }
  .project{
    display: flex;
    flex-direction: column;
  }
  .project-link{
    background-color: #fff;
    color: #212121;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 1rem;
    font-size: 20px;

  }

  